.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 38px;
  background-color: #212529;
}

.navBar p {
  color: white;
  font-size: larger;
  font-weight: bold;
}

.navProfile {
  display: flex;
  justify-content: space-around;
}

.navProfile div {
  margin-right: 40px;
}
